:root {
  --bg-color: white;
  --text-color: #222222;
  --text-color-muted: #434343;
  --nav-bg: #f8f9fad1;
  --nav-hover-colour: #e0e0e0;
  --nav-text-hover: #2e8deb;
  --bg-image: url('/heather_background_c.jpg');
  --title-color: #303030;
  --subtitle-color: #d6d6d6;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --subtitle-color-desktop: #303030;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
  --text-color: #e0e0e0;
  --nav-bg: #333;
  --nav-hover-colour: #303030;
  --bg-image: url('/darkmode_bg_small_c.jpg');
  --title-color: #e0e0e0;
  --subtitle-color: #e0e0e0;
  --box-shadow-color: rgba(255, 255, 255, 0.2);
  --subtitle-color-desktop: #e0e0e0;

  }
} */

.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --text-color-muted: #c1c1c1;
  --nav-bg: #333333af;
  --nav-hover-colour: #303030;
  --nav-text-hover: #d35f18;
  --bg-image: url('/darkmode_bg_small_c.jpg');
  --title-color: #e0e0e0;
  --subtitle-color: #e0e0e0;
  --box-shadow-color: rgba(255, 255, 255, 0.2);
  --subtitle-color-desktop: #e0e0e0;
}

/* a:hover {
  color: var(--nav-text-hover)
} */

#archive .group .value .title a:hover {
  color: var(--nav-text-hover)

}

.homepage-background {
    background-image: var(--bg-image); /* Adjust to your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}


.navigation a {
  color: var(--text-color);
}

.navigation a:hover {
  color: var(--nav-text-hover);
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

/* Profile */

.profile {
    margin-top: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Petrona", serif;
}

.profile h1 {
    text-align: left;
    font-weight: 450;
    letter-spacing: 0px;
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .profile h2 {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 350;
    color: var(--subtitle-color-desktop);
    margin-top: 0;
  }

/* navigation */

nav {
    position: relative; /* Ensure the navbar is part of the flow */
    z-index: 1; /* Keep navbar content above other elements if necessary */
    background: transparent; /* Remove or make semi-transparent if needed */
}

nav.navigation {
  display: flex;
  justify-content: space-between; /* Space between left and right items */
    padding: 20px 20px 0;
    color: var(--text-color);
    background: none;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
  }
  
  nav.navigation a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.35;
    border-radius: 3px;
  }
  nav.navigation a:hover {
    color: var(--nav-text-hover);
    background-color: var(--nav-bg);
    border-radius: 4px;
    transition: all;
    transition-duration: 300ms;
  }
  
  nav.navigation a.button {
    background: #5badf0;
    color: #fff;
    margin-left: 12px;
  }
  @media (max-width: 700px) {
    nav.navigation {
      padding: 20px 10px 0 0;
      color: var(--text-color);
      background: none;
      margin: 0 auto;
      text-align: right;
      z-index: 100;
      flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    nav.navigation a {
      top: 8px;
      right: 6px;
      padding: 8px 8px;
      color: var(--text-color);
      font-size: 1.1rem;
      line-height: 1.35;
      border-radius: 3px;
    } 

    .profile {
        margin-left: 15%;
        margin-right: 20%;
        margin-top: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Petrona", serif;
    
    }

    .profile h1 {
        text-align: left;
        font-weight: 450;
        letter-spacing: 0px;
        font-size: 2.4rem;
        color: var(--title-color);
        margin-bottom: 0;
        margin-top: 0;
      }
      
      .profile h2 {
        text-align: left;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--subtitle-color);
        margin-top: 4rem;
      }
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  #list-page .summary {
    color: var(--text-color-muted);
  }

  #list-page .title a {
    color: var(--text-color);
  }

  #archive .group .value .title a {
    color: var(--text-color)
  }

  #archive .group .value .title .tags a {
    color: var(--text-color);
    background-color: var(--nav-bg);
  }


  .nav-header {
    display: flex;
    align-items: center;
  }
  
  
  .burger-bar {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
    padding: 5px;
  }
  
  .burger-bar span {
    width: 25px;
    height: 3px;
    background: var(--text-color);
    margin: 4px 0;
  }
  
  

  body {
    transition: background-color 0.3s, color 0.3s;
  }

  #darkModeToggle {
    position: absolute;
    top: 14px;
    left: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--text-color); /* White text for contrast */
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--box-shadow-color);
    transition: background-color 0.3s ease, transform 0.1s ease;
  }
  
  
  #darkModeToggle:active {
    transform: scale(0.95); /* Slight shrinking effect on click */
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }
  


@media screen and (max-width: 768px) {
  .burger-bar {
    display: flex; /* Show burger bar on mobile */
  }
  .nav-links {
    display: none; /* Hide links initially */
    flex-direction: column;
    padding: 10px;
  }
  .nav-links.open {
    display: flex; /* Show links when menu is open */
  }
}