<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "head.html" . }}

  </head>

  <body>
    {{ if .IsHome }}
    <div class="homepage-background" id="bg-image">
      {{ partial "navigation.html" . }}
      {{ partial "profile.html" . }}
    </div>
  {{ else }}
    {{ partial "navigation.html" . }}
  {{ end }}

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    <script>
      const toggleButton = document.getElementById('darkModeToggle');
      const body = document.body;
      const bgImage = document.querySelector('.homepage-background'); // Select the background element

      function setDarkMode(enabled) {
        body.classList.toggle('dark-mode', enabled);
        localStorage.setItem('theme', enabled ? 'dark' : 'light');
        toggleButton.textContent = enabled ? 'Light' : 'Dark';
        if (bgImage && enabled) bgImage.style.backgroundImage = "url('/darkmode_bg_small_c.jpg')";
        if (bgImage && !enabled) bgImage.style.backgroundImage = "url('/heather_background_c.jpg')";

      }
    
      // Apply user's theme preference
      const userTheme = localStorage.getItem('theme');
      const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      setDarkMode(userTheme === 'dark' || (!userTheme && systemPrefersDark));
    
      toggleButton.addEventListener('click', () => {
        setDarkMode(!body.classList.contains('dark-mode'));
      });
    
      // Mobile menu toggle
      document.getElementById('burgerToggle').addEventListener('click', () => {
        document.getElementById('nav-links').classList.toggle('open');
      });
    </script>
    
  </body>
</html>
